<div class="countainer">
  <div class="panel">
    <div class="panel-heading">Liste des produits</div>
    
    <div class="panel-body">

      <!-- formulaire de recherch  -->
      <div class="col-md-6">

      
      <form #f="ngForm" (ngSubmit)="onChercher(f.value)">
          <div class="form-group row">
    
              <div class="col-md-3">
                  <label>Keyword: </label>
              </div> 
              <div class="col-m-3">
                  <input class="form-control" type="text"  name="keyword"  ngModel >
              </div>
               <div class="col-md-12">
                  <button class="form-control" type="submit" class="btn btn-primary">
                      <span class="glyphicon glyphicon-search"></span>
                      Chercher
                  </button>
                </div> 
                
            
          </div>
      </form>
    </div>
      <!-- table -->
      <table  class="table table-striped"  *ngIf="products">
         <tr>
          <th>ID</th><th>Name</th><th>Description</th><th>Current Price</th>
        </tr> 
          <tr *ngFor="let prd of products._embedded.products">
              <td>{{prd.id}}</td>
              <td>{{prd.name}}</td>
              <td>{{prd.description}}</td>
              <td>{{prd.currentPrice | number:'0.2'}}</td>
              <td><a class="btn btn-danger" (click)="onDeleteProduct(prd)">x</a></td>
          </tr>
      </table>
      <ul *ngIf="pages" class="nav nav-pills">
        <li [ngClass]="i==currentPage? 'active': ''" *ngFor="let p of pages; let i=index">
          <a class="clickable" (click)="onPageProduct(i)">{{i}}</a>
        </li>
      </ul>
    </div>
</div>
